# IDEs
.idea
*.iml
.vscode
.settings
.classpath
.project

# System
.DS_Store

.env

# Java / Spring Boot
**/target/
**/build/
**/.gradle/
**/out/
**/bin/
*.class
*.jar
*.war

# Node / Frontend
**/node_modules/
**/dist/
**/coverage/

# Logs
*.log

# CDK
**/cdk.out/

deploy.sh
# Misc
*.xml
