.topbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
}


.topbar {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.topbar-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topbar-avatar {
    background-color: #f0f0f0;
}

.topbar-username {
    color: #333;
}