@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.logo {
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 16px;
}

.logo-blue {
    color: #5A73DB;
}

.logo-orange {
    color: #F49E4C;
}

.logo-part {
    display: inline;
}

@media (max-width: 425px) {
    .logo-part {
        display: block;
    }
}
