.topbar {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.topbar-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topbar-avatar {
    background-color: #f0f0f0;
}

.topbar-username {
    color: #333;
    cursor: pointer;
}

.ant-input-search-button {
    border-color: #F5A623 !important;
    background-color: #F5A623 !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: #F5A623 !important;
    box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) !important;
}

.ant-input-affix-wrapper:hover {
    border-color: #F5A623 !important;
}

